.cardDash{
    border-radius: 15px;
}

.cardDash > h3{
    width: 100%;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

.cardDash > a{
    width: 100%;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}